{% extends "base.html" %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
{% if server_data %}
{% if server_data.type == 'listen' %}
<title>{{ server_data.name }}'s Game Session - Info</title>
{% else %}
<title>{{ server_data.name }} - Info</title>
{% endif %}
{% else %}
<title>L4Q</title>
{% endif %}
{% endblock %}

{% block body %}
<div class="primary">
    <div class="content">
        <form class="search_box" id="search_form" autocomplete="off">
            <div class="search_text_area">
                <img src="{{ url_for('static', filename='svg/search.svg') }}" title="Search" class="search_icon">
                {% if search_addr %}
                <input type="text" placeholder="Enter server address..." value="{{ search_addr }}" name="search" class="search_input" id="search_input">
                {% else %}
                <input type="text" placeholder="Enter server address..." name="search" class="search_input" id="search_input">
                {% endif %}
            </div>
            <button type="submit" id="search_button" class="search_button">Query</button>
        </form>
        <div class="server_info">
            {% if error_text %}
            <p class="server_info_hint">{{ error_text }}</p>
            {% else %}
            {% if server_data %}
            <p class="server_info_hint hide">Enter a server address and press &quot;Query&quot;.</p>
            {% else %}
            <p class="server_info_hint">Enter a server address and press &quot;Query&quot;.</p>
            {% endif %}
            {% endif %}
            {% if search_addr %}
            <div class="server_info_container" data-search-addr="{{ search_addr }}">
            {% else %}
            <div class="server_info_container">
            {% endif %}
                {% if server_data %}
                {% include "server_item.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script defer src="{{ url_for('static', filename='scripts/search.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/player_list.js') }}"></script>
{% endblock %}
